body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-family: 'signika', 'Calibri', 'sans-seref';
}

.page {
  max-width: 900px;
  margin: auto;
  padding-top: 100px;
}

.full-width {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

a {
  color: black;
  text-underline-offset: 2px;
}

img {
  object-fit: cover;
}

img.full-width {
  width: 100%;
  height: 100vh;
  margin: 0;
  margin: 0;
}

svg {
  color: black;
}

h1, h2, h3, h4 {
  color: var(--text-inverse);
}

h1 {
  font-size: 52px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
  margin-top: 2rem;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  max-width: 700px;
  margin: auto;
}

p {
  font-size: 21px;
}

.bold {
  font-weight: 700;
}

.center-border {
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 0.7rem;
}

.left-gutter {
  margin-left: 1rem;
}

.right-gutter {
  margin-right: 1rem;
}

.with-background {
  background-image: url("../images/Background_1920.png");
  background-position: center;
  background-attachment: fixed;
}

.page__content-text {
  max-width: 700px;
}

.page__content-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.coming-soon {
  background-color: var(--nav-text);
  width: fit-content;
  padding: 1.5rem 2rem;
  font-weight: 700;
  margin: 1.5rem auto;
}

.glassy {
  padding: 1.5rem 2rem;
  width: fit-content;
  background-color: var(--main-bg-see-through-lot);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  transform: rotate(-4deg);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-inverse);
}

.undo-rotate {
  transform: rotate(4deg);
  margin: 0;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 930px) {
  h1, h2, h3, h4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .page__content-text {
    margin: 1.5rem auto;
  }
}