body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

img.full-width {
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 40px;
}