body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.page {
  max-width: 900px;
  margin: auto;
}

.full-width {
  margin-left: calc(-50vw + 50.9%);
  margin-right: calc(-50vw + 50.9%);
}

a {
  color: black;
  text-underline-offset: 2px;
}

img {
  object-fit: cover;
}

img.full-width {
  width: 100%;
  height: 100vh;
}

svg {
  color: black;
}

h1 {
  font-size: 52px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
  margin-top: 2rem;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  max-width: 700px;
  margin: auto;
}

p {
  font-size: 21px;
}

.bold {
  font-weight: 700;
}

.center-border {
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 0.7rem;
}

.left-gutter {
  margin-left: 1rem;
}

.right-gutter {
  margin-right: 1rem;
}

.with-background {
  /*background-image: url("../images/Background_1920.png");
  background-position: center;
  background-image: linear-gradient(135deg, var(--nav-text-2), var(--orange), var(--main-bg-2));*/
}

.page__content-text {
  max-width: 700px;
  margin: 1.5rem auto;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  .page__content-text, h1, h2, h3, h4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}