:root {
  --text-inverse: #fff;
  --white-see-through: rgb(255, 255, 255, 0.2);
  --main-bg: #9e1a15;
  --main-bg-see-through: rgba(125, 4, 0, 0.7);
  --main-bg-see-through-less: rgba(125, 4, 0, 0.85);
  --nav-text-color: #fed87a;
  --nav-accent-color: #073052;

  --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --laptop-breakpoint: 1024px;
}