.hero {
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
}

.hero__wrapper {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
}

.hero__img {
  height: 300px;
  width: 100%;
}

.hero__title {
  position: relative;
  margin-top: -80px;
  margin-left: 3rem;
  z-index: 1;
  color: var(--footer-text);
}

.hero__title-bg {
  margin-top: -190px;
  margin-left: -750px;
}

@media only screen and (max-width: 480px) {
  .hero {
    height: 200px;
  }

  .hero__img {
    height: 200px;
  }

  .hero__title {
    margin-left: 1rem;
    margin-top: -55px;
  }

  .hero__title-bg {
    margin-top: -155px;
    margin-left: -900px;
  }
}