.img-infograph {
  height: 300px;
}

.img-infograph__img {
  height: 300px;
  width: 100%;
  border-radius: 2rem;
}

.img-infograph__link {
  color: var(--text-inverse);
}

.img-infograph__content {
  background-color: var(--main-bg-see-through-less);
  border-radius: 2rem;
  position: relative;
  width: fit-content;
  color: var(--text-inverse);
  padding: 1.5rem 2.5rem;
  margin: 0 auto;
  margin-top: -240px;
  text-align: center;
  transform: rotate(3deg);
}

.img-infograph__text {
  transform: rotate(-3deg);
}

@media only screen and (max-width: 480px) {
  .img-infograph {
    height: 300px;
  }

  .img-infograph__content {
    padding: 0.5rem;
  }

  .img-infograph__img {
    height: 300px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }

  .page__content-text, h1, h2, h3, h4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
