.img-infograph {
  height: 300px;
}

.img-infograph__img {
  height: 300px;
  width: 100%;
}

.img-infograph__link {
  color: var(--text-inverse);
}

.img-infograph__content {
  background-color: var(--main-bg-see-through-less);
  position: relative;
  width: fit-content;
  color: var(--text-inverse);
  padding: 1rem;
  margin: 0 auto;
  margin-top: -240px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .img-infograph {
    height: 400px;
  }

  .img-infograph__content {
    padding: 0.5rem;
    margin-top: -280px;
  }

  .img-infograph__img {
    height: 400px;
  }

  .page__content-text, h1, h2, h3, h4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
