.link-with-icon {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.link-with-icon__icon {
  object-fit: fill;
  height: 32px;
  width: 32px;
  margin-right: 1rem;
  color: var(--footer-text);
}

.link-with-icon__text {
  color: var(--footer-text);
}

.link-with-icon__icon.location {
  margin-right: 0.25rem;
  margin-left: -0.5rem;
}