.main-nav {
  height: 70px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid var(--text-inverse);
  background-color: var(--main-bg-see-through);
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav.relative {
  position: relative;
  background-color: var(--main-bg);
}

.main-nav__logo {
  width: 100px;
}

.burger-menu {
  display: none;
}

.main-nav__link {
  color: var(--text-inverse);
  font-weight: 600;
  font-size: 18px;
  padding: 0.5rem;
  text-decoration: none;
}

.home-link {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.home-link__caption {
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .main-nav {
    justify-content: space-between;
  }

  .burger-menu {
    display: block;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--text-inverse);
  }

  .burger-wrapper {
    display: none;
  }

  .burger-wrapper.active {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 71px;
    background-color: var(--main-bg-see-through-less);
    width: 100%;
  }

  .menu-icon {
    width: 32px;
    height: 32px;
    color: var(--text-inverse);
    fill: white;
    stroke: white;
  }

  .home-link {
    margin: 0 1rem;
  }
}