.scroll-snap-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.scroll-snap-section {
  height: 100vh;
  scroll-snap-align: start;
}

.place-center {
  position: absolute;
  display: flex;
  left: 0;
  top: 100px;
  width: 100%;
  height: calc(100% - 100px);
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-icon {
  max-height: 55vh;
  max-width: 90vh;
  margin: 0 0.5rem;
}

.main-logo {
  max-height: 15vh;
  max-width: 90vh;
  margin: 0 0.5rem;
}

.main-date-wrapper {
  display: flex;
  font-size: 24px;
  color: var(--text-inverse);
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-date {
  width: 100%;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .main-icon {
    max-height: 35vh;
  }
  .main-logo {
    max-height: 10vh;
  }

  .main-date-wrapper {
    font-size: 20px;
  }
}

@media screen and (min-width:480px) and (max-width:768px){
  .main-date {
    font-size: 20px;
    min-width: 200px;
    margin: 0 0.5rem;
  }

  .image-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}